{% if page.url == "/" %}
  {% assign collection_name = "home" %}
  {% assign entry_name = "home" %}
{% else %}
  {% assign child_page_count = site.pages | children_of: page | where_exp: "child", "child.title != 'Search'" | size %}
  {% assign path_parts = page.url | slice: 1, page.url.size | split: "/" %}

  {% if child_page_count > 0 %}
    {% assign collection_name = path_parts | join: "__" %}
    {% assign entry_name = "index" %}
  {% else %}
    {% assign collection_parts_size = path_parts.size | minus: 1 %}
    {% assign collection_name = path_parts | slice: 0, collection_parts_size | join: "__" %}
    {% assign entry_name = path_parts | last %}
  {% endif %}
{% endif %}

<div class="contribute" data-proofer-ignore>
  <a href="/admin/#/collections/{{ collection_name }}/entries/{{ entry_name }}">Edit page</a>

  {% if page.url != "/" and child_page_count > 0 %}
    <a href="/admin/#/collections/{{ collection_name }}/new">Add new page</a>
  {% endif %}
</div>
