{% if page.url == "/" %}
  {% assign collection_name = "home" %}
  {% assign entry_name = "home" %}
{% else %}
  {% assign path_parts = page.url | split: "/" %}
  {% assign collection_parts_length = path_parts.size | minus: 2 %}
  {% if collection_parts_length < 1 %}
    {% assign collection_name = path_parts %}
    {% assign entry_name = "index" %}
  {% else %}
    {% assign collection_name = path_parts | slice: 1, collection_parts_length | join: "__" %}
    {% assign entry_name = path_parts | last %}
  {% endif %}
{% endif %}

<footer class="contribute" data-proofer-ignore>
  <a href="/admin/#/collections/{{ collection_name }}/entries/{{ entry_name }}">Edit this page</a>
  {% unless page.url == "/" %}
    <a href="/admin/#/collections/{{ collection_name }}/new">Add a new page here</a>
  {% endunless %}
</footer>
