{% assign grouped_related_pages = site.pages | children_of: page | where_exp: "child", "child.title != 'Search'" | group_by: "related_order" | sort: "name" %}
{% for related_page_group in grouped_related_pages %}
  {% assign related_pages = related_page_group.items | sort_natural: "title" %}

  {% for related_page in related_pages %}
    {% unless related_page.unrelatable %}
      <li>
        <a href="{{ related_page.url }}">
          {{ related_page.title }}
        </a>
      </li>
    {% endunless %}
  {% endfor %}
{% endfor %}
  <li>
    <a href="https://www.dxw.com/contact/">Contact dxw</a>
  </li>
