@import "~docsify/lib/themes/vue.css";

@import url("https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700&display=swap");

@mixin small-screen {
  @media screen and (max-width: 768px) {
    @content;
  }
}

$navy: #243746;
$cream: #f3f1e9;
$ivory: #f9f8f5;

$yellow-light: #fcd672;
$blue-light: #73c3d5;

$accent-a: $yellow-light;
$accent-b: $blue-light;

body {
  font-family: Cardo, -apple-system, serif;
  font-weight: 400;
  font-size: 15pt;
  color: $navy;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background: $ivory;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: $navy;
}

b,
strong {
  font-weight: 700;
}

.guides {
  li {
    list-style: none;
  }
}

.app-name.hide,
.sidebar-nav.hide {
  display: none;
}

.content {
  padding-top: 65px;

  @include small-screen {
    position: relative;
    padding-top: 95px;
  }
}

.markdown-section {
  ol,
  p,
  ul {
    line-height: 1.5;
    word-spacing: 0;
  }

  em {
    color: $navy;
  }

  blockquote {
    border-left-color: $accent-b;
    color: $navy;

    p {
      color: $navy;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $navy;
  }

  h1:not(:first-of-type) {
    margin-top: 2em;
  }

  h5 {
    font-size: 1.15rem;
  }

  a {
    color: $navy;
    text-decoration-line: underline;
    text-decoration-color: $accent-b;
    text-decoration-thickness: 0.1em;
    font-weight: 400;
  }

  p {
    a {
      color: inherit;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: $navy;
        text-decoration-thickness: 0.1em;
      }
    }
  }

  li {
    margin-bottom: 10px;

    a {
      color: inherit;

      &:hover {
        text-decoration-line: underline;
        text-decoration-color: $navy;
        text-decoration-thickness: 0.1em;
      }
    }
  }

  code,
  pre,
  pre > code {
    background-color: $navy;
    color: $ivory;
  }
}

.sidebar {
  background: $cream;
  color: $navy;
  z-index: 3;
  margin-top: 65px;
  padding-top: 0;
  border-right: 0;

  @include small-screen {
    margin-top: 0;
  }

  ul {
    li {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
      margin-bottom: 0.3em;

      a {
        color: $navy;
        font-family: Poppins, sans-serif;
        font-size: 13pt;

        &:hover,
        &:focus,
        > a.active {
          text-decoration-line: underline;
          text-decoration-color: $accent-b;
          text-decoration-thickness: 0.1em;
        }
      }
    }
  }

  > h1 a {
    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
      text-decoration-color: $accent-b;
      text-decoration-thickness: 0.1em;
    }
  }

  .search {
    background-color: $accent-a;
    color: $navy;
    margin-bottom: 20px;
    padding: 6px;

    input {
      background: inherit;
      color: $navy;
      outline: none;
      width: 100%;
      padding: 0 7px;
      line-height: 36px;
      font-family: Poppins, sans-serif;
      font-size: 13pt;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;

      &::placeholder {
        color: transparentize($navy, 0.1);
      }

      &:focus {
        box-shadow: 0 0 5px $navy;
        border-color: $navy;
      }

      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }

    .input-wrap {
      display: flex;
      align-items: center;
    }

    .matching-post {
      margin-bottom: 5px;
      border-bottom: 1px solid $cream;

      &:last-child {
        border-bottom: 0;
      }

      a {
        text-decoration-line: none;
      }

      .search-keyword {
        color: inherit;
        text-decoration-line: underline;
        text-decoration-color: $accent-b;
        text-decoration-thickness: 0.1em;
      }

      &:hover,
      &:focus {
        a {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            text-decoration-line: underline;
            text-decoration-color: $accent-b;
            text-decoration-thickness: 0.1em;
          }
        }
      }
    }

    h2 {
      font-size: 13pt;
      margin: 0.5em 0;
    }

    p {
      font-size: 13pt;
      margin: 0.5em 0;
      overflow: hidden;
      text-overflow: ellipsis;

      &.empty {
        text-align: center;
      }
    }

    a {
      text-decoration-line: none;
      color: inherit;
    }

    .results-panel {
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .sidebar-nav {
    padding-bottom: 0;
    margin: 30px 15px;

    > ul {
      margin: 15px 0 15px 15px;

      > li {
        > a {
          font-weight: 700;
          font-size: 15pt;
        }

        > ul {
          margin-left: 0;

          > li {
            a {
              font-weight: 400;
              font-size: 13pt;
            }
          }
        }
      }
    }
  }
}

.app-nav {
  background-color: $accent-b;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;

  @include small-screen {
    padding: 25px;
    transition: top 0.25s ease-out;
  }

  a {
    font-size: 15pt;
    text-decoration-line: underline;
    text-decoration-thickness: 0.1em;
  }

  > ul {
    > li {
      a {
        font-family: Poppins, sans-serif;
        text-decoration-line: none;
        transition: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration-line: underline;
          text-decoration-color: $accent-a;
          text-decoration-thickness: 0.1em;
          color: $navy;
        }
      }

      > ul {
        display: none;
        background-color: $cream;
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;

        a {
          &:hover,
          &:focus,
          &:active {
            text-decoration-line: underline;
            text-decoration-color: $accent-b;
            text-decoration-thickness: 0.1em;
          }
        }
      }

      &:hover,
      &:focus,
      &:active,
      &.focus-within {
        > ul {
          display: block;
          max-height: 80vh;
          overflow-y: scroll;
        }
      }
    }
  }

  .logo {
    float: left;
    margin-left: 10px;
    margin-top: 5px;

    @include small-screen {
      margin-left: 0;
    }
  }
}

.sidebar-toggle {
  background-color: transparent;
  width: auto;

  @include small-screen {
    padding: 20px;
  }

  .sidebar-toggle-button {
    span {
      background-color: $accent-b;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    .sidebar-toggle-button {
      opacity: 1;

      span {
        background-color: $navy;
      }
    }
  }
}

.skip {
  position: absolute;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    z-index: 10;
    background: $ivory;
    padding: 5px;
    display: inline-block;
  }
}

body.close {
  .app-nav {
    left: 0;

    @include small-screen {
      display: block;
      top: -95px;
    }
  }

  .sidebar-toggle {
    background-color: transparent;
    transition: background-color 0.3s 0.25s;

    @include small-screen {
      background-color: $accent-a;
      width: 300px;
      padding: 20px;
    }

    span {
      background-color: $accent-b;
    }
  }
}
