@use "./typography";

.guides {
  margin: 0;
  padding: 0;
  font-family: typography.$heading-font-family;
  font-weight: typography.$heading-font-weight;
  list-style: none;

  li {
    margin-bottom: 0.5em;
  }
}
