<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8"/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#243746">
    <meta name="theme-color" content="#f9f8f5">
    <title>
      {% if page.title and page.title != "dxw's Playbook" %}{{ page.title | escape }} - {% endif %}Playbook - dxw
    </title>

    {% if page.url == "/" %}
      <script src="/assets/js/redirect.js"></script>
    {% endif %}

    <link rel="stylesheet" href="/assets/main.css"/>
    <script defer data-domain="playbook.dxw.com" src="https://plausible.io/js/script.manual.js"></script>
    <!-- define the `plausible` function to manually trigger events - as the pageview event is not being sent automatically with 'script.manual.js' -->
    <script>
      window.plausible = window.plausible || function () {
        (window.plausible.q = window.plausible.q || []).push(arguments)
      }
    </script>

    <!-- trigger pageview -->
    <script>
      function prepareUrl(params) {
        const url = new URL(location.href)
        const queryParams = new URLSearchParams(location.search)
        let customUrl = url.protocol + "//" + url.hostname + url
          .pathname
          .replace(/\/$/, '')
        for (const paramName of params) {
          const paramValue = queryParams.get(paramName)
          if (paramValue) {
            customUrl = customUrl + '/' + paramValue
          }
        }
        return customUrl
      }
      plausible('pageview', {u: prepareUrl([])})
    </script>
  </head>
  <body>
    {% include navbar.html %}
    <main>
      {% include related.html %}
      {% include page-content.html %}
    </main>
    {% include contribute.html %}
  </body>
</html>
