@use "./colours";
@use "./sidebar";

.contribute {
  width: 100%;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: colours.$accent-a;
  text-align: center;
  font-family: sidebar.$font-family;
  font-weight: sidebar.$font-weight;
  font-size: sidebar.$font-size;

  a {
    margin: 0;
  }
}
