@use "./breakpoints";
@use "./colours";
@use "./typography";

.contribute {
  display: none;
}

@include breakpoints.on-large-screens {
  .contribute {
    display: flex;
    justify-content: space-evenly;

    padding: 0.5em;

    font-family: typography.$heading-font-family;
    font-size: 1.2em;
    font-weight: typography.$heading-font-weight;
    text-align: center;

    background-color: colours.$accent-a;

    a {
      margin: 0;
    }
  }
}
