@use "./breakpoints";
@use "./navbar";

* {
  box-sizing: border-box;
}

main {
  margin-top: navbar.$height;
  height: calc(100vh - navbar.$height);
  display: flex;
  flex-direction: column;

  @include breakpoints.on-large-screens {
    margin-top: navbar.$height-large;
    height: calc(100vh - navbar.$height-large - 3em);
    flex-direction: row;
  }
}
