@use "./breakpoints";
@use "./navbar";

* {
  box-sizing: border-box;
}

main {
  @include breakpoints.on-large-screens {
    flex-direction: row;
    height: calc(100vh - navbar.$height-large - 3em);
    margin-top: navbar.$height-large;
  }

  display: flex;
  flex-direction: column;
  height: calc(100vh - navbar.$height);
  margin-top: navbar.$height;
}
