@use "./colours";
@use "./typography";

$height: 70px; // Manually measured after layout.

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: colours.$navy;

  a {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.5em;
      padding-bottom: 0.22em;
      max-height: 30px;
      &:hover,
      &:focus,
      &:active {
        padding-bottom: 0.07em;
        border-bottom: 0.15em solid colours.$accent-a;
      }
    }
  }

  > ul {
    margin: 1em;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;

    > li {
      margin-bottom: 0;

      &:first-child {
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-left: 2em;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 0.5em;
}
