@use "./breakpoints";
@use "./colours";
@use "./sidebar";

.page-content {
  flex: 1;
  margin-left: sidebar.$small-collapsed-width;
  padding: 0.5em 2em 5em;
  overflow-y: auto;
  scroll-behavior: smooth;
  will-change: scroll-position;

  > div {
    margin: 0 auto;
    max-width: 40em;

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      margin-left: -0.5em;
      margin-right: -0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    :target {
      background: colours.$yellow-light;
    }
  }

  @include breakpoints.on-large-screens {
    margin-left: 0;
  }
}
