@use "./colours";

.search-form {
  .navbar__search--block & {
    text-align: center;
  }
}

.search-results {
  &__result {
    list-style-type: none;
  }

  &__matching-keyword {
    color: colours.$blue-mid;
  }
}
