@use "./colours";

.search-form {
  &__input {
    background-color: colours.$ivory;
    border: 0.063rem solid colours.$navy;
    color: colours.$navy;
    line-height: 1.35;
    padding: 0.5rem 0.938rem;
    width: 100%;
  }
}

.search-results {
  &__result, &__no-results-message {
    list-style-type: none;
  }

  &__matching-keyword {
    color: colours.$blue-mid;
  }
}
