@use "sass:math";

@use "./colours";
@use "./navbar";
@use "./typography";

$font-family: typography.$heading-font-family;
$font-weight: typography.$heading-font-weight;
$font-size: 1.2em;
$button-thickness: 0.25em;
$button-side: 3 * $button-thickness + 2 * 0.375em;
$horizontal-padding: 1em;
$max-width: 90vw;
$width: 22em;
$collapsed-width: $button-side + $horizontal-padding;

.sidebar {
  position: relative;
  height: 100%;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
}

.sidebar__section {
  position: absolute;
  height: 100%;
  padding: 0.5em $horizontal-padding;
  padding-right: $collapsed-width;
  transform: translateX(calc(-100% + $collapsed-width));
  background-color: colours.$cream;
  transition: transform 0.2s, padding 0.2s;
  will-change: transform, padding;

  &:target {
    padding-right: $horizontal-padding;
    transform: translateX(0);
    overflow-y: auto;
  }

  a {
    display: block;
    margin-bottom: 0.5em;
    padding-left: 2em;
    text-indent: -2em;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration-line: underline;
      text-decoration-thickness: 0.15em;
      text-decoration-color: colours.$accent-b;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
    }
  }

  nav {
    max-width: calc($max-width - 2 * $horizontal-padding);
    width: $width - 2 * $horizontal-padding;

    > :first-child {
      margin-top: 0.2em;
      margin-bottom: 1.5em;
      font-size: 0.8em;
      text-align: center;
    }

    > ul {
      margin-bottom: 1em;

      ul {
        font-size: 0.85em;

        ul {
          margin-left: 1em;
        }
      }
    }
  }
}

.sidebar__toggle-button {
  position: absolute;
  top: math.div($horizontal-padding, 2);
  left: math.div($horizontal-padding, 2);
  width: $button-side;
  height: $button-side;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: left 0.2s;

  div {
    width: 100%;
    height: $button-thickness;
    background-color: colours.$accent-b;
    transform-origin: center;
    transition: transform 0.2s;
  }
}

.sidebar__section:target ~ .sidebar__toggle-button {
  left: min(
    $width - $button-side - $horizontal-padding / 2,
    $max-width - $button-side - $horizontal-padding / 2
  );

  div {
    transform: scaleX(0);

    &:first-child {
      transform: translateY(math.div($button-side - $button-thickness, 2))
        rotate(-45deg);
    }

    &:last-child {
      transform: translateY(math.div($button-side - $button-thickness, -2))
        rotate(45deg);
    }
  }
}

.sidebar__section:target + .sidebar__toggle-button,
.sidebar__section:not(:target)
  + .sidebar__toggle-button
  + .sidebar__toggle-button {
  pointer-events: none;
}
