# To run netlify-cms locally:
#
# 1. Replace the `backend` config with the commented configuration below.
# 2. Remove the `src/` prefix from `file` and `folder` attributes to make them
#    relative to the site URL, not relative to the repo root (which is needed
#    by the `github` backend which uses the GitHub API endpoint to find files).
# 3. On the command line, run:
#        cd src && npx netlify-cms-proxy-server
#
# local_backend: true
# backend:
#   name: git-gateway
#
backend:
  name: github
  repo: dxw/playbook
  branch: main
  open_authoring: true
media_library:
  name: disabled
media_folder: _images
publish_mode: editorial_workflow
show_preview_links: true
collections:
  - name: home
    label: Home
    label_singular: Home page
    files:
      - name: home
        label: Home page
        file: src/index.md
        fields:
          - { label: Title, name: title, widget: string, required: true }
          - { label: Body, name: body, widget: markdown, required: true }

  - name: who-we-are
    label: Who we are
    label_singular: Who we are page
    folder: src/who-we-are
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: work-we-do
    label: Work we do
    label_singular: Work we do page
    folder: src/work-we-do
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }
  - name: work-we-do__building-services
    label: Work we do > Building services
    label_singular: Building services page
    folder: src/work-we-do/building-services
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: working-here
    label: Working here
    label_singular: Working here page
    folder: src/working-here
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }
  - name: working-here__getting-things-you-need
    label: Working here > Getting things you need
    label_singular: Getting things you need page
    folder: src/working-here/getting-things-you-need
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: commercial-ops
    label: Commercial Operations
    label_singular: Commercial Operations page
    folder: src/commercial-ops
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: delivery-management
    label: Delivery Management
    label_singular: Delivery Management page
    folder: src/delivery-management
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: design
    label: Design
    label_singular: Design page
    folder: src/design
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: finance
    label: Finance
    label_singular: Finance page
    folder: src/finance
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: leadership
    label: Leadership
    label_singular: Leadership page
    folder: src/leadership
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: product-management
    label: Product Management
    label_singular: Product Management page
    folder: src/product-management
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: sales-and-marketing
    label: Sales and Marketing
    label_singular: Sales and Marketing page
    folder: src/sales-and-marketing
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: tech
    label: Technology
    label_singular: Technology page
    folder: src/tech
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: user-research
    label: User Research
    label_singular: User Research page
    folder: src/user-research
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: govpress-unit
    label: GovPress Unit
    label_singular: GovPress Unit page
    folder: src/govpress-unit
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }

  - name: strategy-unit
    label: Strategy Unit
    label_singular: Strategy Unit page
    folder: src/strategy-unit
    create: true
    fields:
      - { label: Title, name: title, widget: string, required: true }
      - { label: Permalink, name: permalink, widget: hidden, default: /:path/:basename/ }
      - { label: Body, name: body, widget: markdown, required: true }
