name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Set language versions
        run: |
          echo "NODE_VERSION=$(cat .node-version)" >> $GITHUB_ENV

      - uses: actions/setup-node@v2.3.1
        with:
          node-version: ${{ env.NODE_VERSION }}

      - uses: ruby/setup-ruby@v1

      - name: Set up Bundler
        run: |
          gem install bundler
          bundle config path vendor/bundle

      - name: Cache Ruby dependencies
        uses: actions/cache@v2.1.6
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-v2-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-v2-

      - name: Cache Node dependencies
        uses: actions/cache@v2.1.6
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Build in production mode
        run: |
          script/build production

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: _site
