name: Lint

on:
  - pull_request

jobs:
  prose:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: errata-ai/vale-action@master
        with:
          files: __onlyModified
          styles: |
            https://github.com/errata-ai/proselint/releases/latest/download/proselint.zip
            https://github.com/errata-ai/write-good/releases/latest/download/write-good.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
