name: Code style
on:
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    name: Lint
    steps:
    - uses: actions/checkout@v4
      name: Check out repository
    - uses: actions/setup-node@v4
      name: Set up Node.js
      with:
        node-version: 18.13.0
    - run: |
        npm ci
        npm run lint
